.productPageMiddle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.productPageMiddle button {
    border: black solid 1px;
}
.productPageMiddle input {
    border: black solid 1px;
}
.sizes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.sizeBox {
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid hotpink;
    cursor: pointer;
    border-radius: 4px;
    width: 3rem;
    transition: background-color 0.25s;
}
.sizeBox.active{
    border: none;
    background-color: hotpink;
}

.buyNowBox{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid hotpink;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.buyNowBox button{
    width: 100%;
    border: none;
}